h1,
p {
  font-family: Lato;
}

table,
tr,
th,
td {
  //border: 1px solid black;
}

th {
  background-color: lightgrey;
}

input {
  padding: 5px;
  margin: 5px;
}

tr:nth-child(odd) {
  background-color: lightblue;
}
tr:nth-child(even) {
  background-color: aliceblue;
}
